.services {
	margin: 0 auto;
	margin-top: em(120);
	height: em(700);
	background: url('../imgs/workshop.jpg') no-repeat center;
	background-size: cover;
	max-width: $l-device;
	@include inset-shadow-l(250, 500);
	@include topDetail('Ser');
	@include bottomDetail('viços');
	.services-content {
		margin-left: em(40);
		width: fit-content;
		height: 100%;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr 1fr;
		column-gap: em(120);
		h2 {
			align-self: end;
		}
		& > p {
			margin-top: 1.25em;
			padding: em(4);
			@include text-1-sm-2();
			max-width: 38ch;
			background-color: rgb(0, 0, 0, 0.25);
			align-self: start;
			@include d(640) {
				margin-top: em(16);
				font-size: em(16);
			}
		}
		.services-options {
			grid-column: 2 / -1;
			grid-row: 1/-1;
			align-self: center;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: em(260);
			@include d(1220) {
				gap: em(60);
			}
			@include d(1020) {
				grid-template-columns: 1fr;
			}
		}
		@include d(830) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			.services-options {
				align-self: start;
				grid-template-columns: 1fr 1fr;
				grid-column: 1;
				grid-row: auto;
			}
		}
	}
	@include d(1400) {
		height: em(700);
	}
	@include d(1100) {
		height: em(600);
	}
	@include d(900) {
		margin-top: em(80);
	}
	@include d(800) {
		background-position: 20% 0;
	}
	@include d(640) {
		height: em(400);
	}
	@include inset-shadow-l(120, 150);
}
