.mapping {
	margin: 0 auto;
	max-width: $l-device;
	height: 760px;
	position: relative;
	box-shadow: inset 0 -100px 20px rgb(0, 0, 0, 0.7);
	> img {
		position: absolute;
		object-fit: cover;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.85;
		-webkit-mask-image: linear-gradient(360deg, black 80%, transparent 100%);
		mask-image: linear-gradient(360deg, black 80%, transparent 100%);
		z-index: -1;
	}
	.mapping-content {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 35% auto 15%;
		align-items: end;
		justify-content: center;
		gap: em(20);
		h2 {
			justify-self: center;
		}
		.mapping-extra {
			align-self: start;
			[data-extra='infos'] {
				@include text-1-sm-2();
				max-width: 1200px;
				.button {
					margin-inline: auto;
				}
			}
		}
		.mapping-more {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: em(20);
			justify-self: center;
			svg {
				animation: move-arrow-down 0.8s ease-in infinite;
			}
		}
		.mapping-extra-mobile {
			display: none;
			place-items: center;
			align-self: start;
			p {
				padding: em(20);
				background-color: rgb(0, 0, 0, 1);
				@include text-1-sm-2();
				max-width: 110ch;
				margin-inline: em(20);
				@include d(600) {
					font-size: em(16);
				}
				a {
					margin-top: em(20);
					display: block;
					margin-inline: auto;
				}
			}
		}
		@include d(1250) {
			.mapping-extra {
				display: none;
			}
			.mapping-extra-mobile {
				display: grid;
				gap: em(12);
			}
		}
	}
}
